<div class="wrapper">
  <aside class="side">
    <cwc-combobox
      [data]="selectInputData"
      [label]="'Choose schema'"
      [btnText]="'Select'"
      [btnLeftPosition]="true"
      [placeholder]="'Select a value'"
      (onChange)="onSelect($event)"
      readonly
    ></cwc-combobox>
  </aside>
  <article class="content">
    <form-generator
      *ngIf="(viewPersonSchema | json) != '{}'"
      [schema]="viewPersonSchema"
      [value]="viewPersonData"
      (onSubmit)="onFormSubmit($event)"
    >
      <cwc-inlineedit for="string"></cwc-inlineedit>
      <cwc-autocomplete-select
        for="array"
        [attr.props]="autocompleteProps"
      ></cwc-autocomplete-select>
    </form-generator>

    <form-generator
      *ngIf="(viewGeographicalCoordinatesSchema | json) != '{}'"
      [schema]="viewGeographicalCoordinatesSchema"
      [value]="viewGeographicalCoordinatesData"
      (onSubmit)="onFormSubmit($event)"
    >
      <cwc-inlineedit for="string"></cwc-inlineedit>
      <cwc-autocomplete-select
        for="array"
        [attr.props]="autocompleteProps"
      ></cwc-autocomplete-select>
    </form-generator>

    <form-generator
      *ngIf="(viewVeggiesSchema | json) != '{}'"
      [schema]="viewVeggiesSchema"
      [value]="viewVeggiesData"
      (onSubmit)="onFormSubmit($event)"
    >
      <cwc-autocomplete-select
        for="array"
        [attr.props]="autocompleteProps"
      ></cwc-autocomplete-select>
    </form-generator>

    <hr />

    <h3>Data:</h3>
    <pre *ngIf="(showFormData | json) != '{}'"><code>{{ showFormData | json }}</code>  </pre>
  </article>
</div>
