<div class="wrapper">
  <aside class="side">
    <cwc-combobox
      [data]="selectInputData"
      [label]="'Choose schema'"
      [btnText]="'Select'"
      [btnLeftPosition]="true"
      [placeholder]="'Select a value'"
      (postValue)="onSelect($event)"
      readonly
    ></cwc-combobox>
  </aside>
  <article class="content">
    <form-generator *ngIf="(viewSchema | json) != '{}'" [schema]="viewSchema" [value]="viewData" (onSubmit)="onFormSubmit($event)">
        <cwc-inlineedit for="string"></cwc-inlineedit>
        <cwc-inlineedit for="integer"></cwc-inlineedit>
        <cwc-datepicker for="date"></cwc-datepicker>
        <cwc-autocomplete-select for="autocomplete"></cwc-autocomplete-select>
        <cwc-combobox for="dropdown"></cwc-combobox>
        <checkbox-generator for="boolean"></checkbox-generator>
        <cwc-wysiwyg-editor for="textarea"></cwc-wysiwyg-editor>
    </form-generator>
  </article>
</div>
