<section class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron jumbotron-fluid">
                <blockquote class="blockquote text-center">
                    <h2 class="mb-0">StencilJs Integration Project</h2>
                    <footer class="blockquote-footer">
                        Project stack:
                        <cite title="Source Title">Form Generator</cite>,
                        <cite title="Source Title">Datepicker</cite>
                    </footer>
                </blockquote>
            </div>

            <div class="jumbotron jumbotron-fluid">
                <div class="col-lg-12 mt-5 mb-5 text-center">
                    <h1>Datepicker</h1>
                </div>

                <div class="col-lg-10 mb-4 d-block"  style="margin: 0 auto;">
                    <cwc-styles></cwc-styles>
                    <cwc-datepicker class="mx-5" start-date="03/25/2018" end-date="04/12/2018"></cwc-datepicker>

                    <cwc-datepicker class="styled mx-5" lang="de"></cwc-datepicker>
                </div>
            </div>
        </div>
    </div>
</section>
