<cwc-styles></cwc-styles>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 mb-4">
            <my-dynamic-form [schema]="schema" [form]="form" [ajv]="ajv">
                <my-input for="integer"></my-input>
                <my-input for="string"></my-input>
                <my-input for="object"></my-input>
                <my-dropdown for="array"></my-dropdown>
                <my-checkbox for="boolean"></my-checkbox>
            </my-dynamic-form>
        </div>
    </div>
</div>
